.container-fluid {
    padding: 30px;
}

.left-content {
    width:30%;
    float: left;
    padding: 20px;
    background-color:lightsteelblue;
}

.right-content {
    width:70%;
    float: left;
}

.card {
    width: 300px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    background-color:lightsteelblue;
}

#card-edit {
    position:absolute;
    right: 0;
    color: blue;
}

#card-delete {
    position:absolute;
    left: 0;
    padding: 3px;
    color:red;
}
